@model AccountTypeModel

@{
	ViewData["Title"] = "Create Account Type";
}

<h1>Crear tipo de ceunta</h1>
<h5>Tipos de cuentas: Credito, Corriente, Ahorro, etc.</h5>

<form asp-controller="AccountTypeController" asp-action="CreateAccountType">

</form>